
autocmd MyAuGroup BufWrite ~/.vim/minpac/pack/minpac/start/curstr.nvim/*.py call atags#generate()
autocmd MyAuGroup BufRead,BufEnter ~/.vim/minpac/pack/minpac/start/curstr.nvim/* call s:curstr_settings()
function! s:curstr_settings() abort
    let g:local#var#document_root = '~/.vim/minpac/pack/minpac/start/curstr.nvim/test/report/html/'
    let g:atags_build_commands_list = ['cd ~/.vim/minpac/pack/minpac/start/curstr.nvim', 'make tag']
endfunction

let s:ctrlb_nvim_coverage = ''
autocmd MyAuGroup BufRead,BufEnter ~/.vim/minpac/pack/minpac/start/ctrlb.nvim/* call s:ctrlb_nvim_settings()
function! s:ctrlb_nvim_settings() abort
    if empty(s:ctrlb_nvim_coverage)
        let root = notomo#vimrc#search_parent_recursive('package.json', expand('%:p:h'))
        let s:ctrlb_nvim_coverage = fnamemodify(root, ':p:h:s?$?/coverage/lcov-report?')
    endif
    let g:local#var#document_root = s:ctrlb_nvim_coverage
endfunction

autocmd MyAuGroup BufRead,BufEnter ~/workspace/*/ctrlb/* call s:ctrlb_settings()
let s:ctrlb_coverage = ''
function! s:ctrlb_settings() abort
    if empty(s:ctrlb_coverage)
        let root = notomo#vimrc#search_parent_recursive('package.json', expand('%:p:h'))
        let s:ctrlb_coverage = fnamemodify(root, ':p:h:s?$?/coverage/lcov-report?')
    endif
    let g:local#var#document_root = s:ctrlb_coverage
endfunction

autocmd MyAuGroup BufRead,BufEnter ~/workspace/nodejs/sinchock-web/* call s:sinchock_web_settings()
function! s:sinchock_web_settings() abort
    call curstr#custom#source_alias('interface_impl', ['togglable/file'])
    call curstr#custom#source_option('interface_impl', 'pattern_groups', [['%impls/models/%', '%domain/models/%'], ['%impls/repositories/mock/%', '%domain/repositories/%']])
    nnoremap <buffer> [file]i :<C-u>Curstr interface_impl<CR>
endfunction

let s:gesture_nvim_coverage = ''
autocmd MyAuGroup BufRead,BufEnter ~/.vim/minpac/pack/minpac/start/gesture.nvim/* call s:gesture_nvim_settings()
function! s:gesture_nvim_settings() abort
    if empty(s:gesture_nvim_coverage)
        let root = notomo#vimrc#search_parent_recursive('package.json', expand('%:p:h'))
        let s:gesture_nvim_coverage = fnamemodify(root, ':p:h:s?$?/coverage/lcov-report?')
    endif
    let g:local#var#document_root = s:gesture_nvim_coverage
endfunction

autocmd MyAuGroup BufRead,BufEnter $GOPATH/src/github.com/notomo/qaper/* call s:qaper_settings()
function! s:qaper_settings() abort
    call curstr#custom#source_alias('interface_impl', ['togglable/file'])
    call curstr#custom#source_option('interface_impl', 'pattern_groups', [
        \ [
            \ '%internal/client/datastore/%',
            \ '%internal/client/repository/%',
            \ '%internal/server/repository/%',
            \ '%internal/server/datastore/%',
            \ '%domain/repository/%'
        \ ],
        \ [
            \ '%internal/datastore/%',
            \ '%domain/model/%',
            \ '%internal/client/model/%',
            \ '%internal/server/model/%',
        \ ],
    \ ])
    nnoremap <buffer> [file]i :<C-u>Curstr interface_impl<CR>
endfunction
