
autocmd MyAuGroup BufWrite ~/.vim/dein/repos/github.com/notomo/curstr.nvim/*.py call atags#generate()
autocmd MyAuGroup BufRead,BufEnter ~/.vim/dein/repos/github.com/notomo/curstr.nvim/* call s:curstr_settings()
function! s:curstr_settings() abort
    let g:local#var#document_root = '~/.vim/dein/repos/github.com/notomo/curstr.nvim/test/report/html/'
    let g:atags_build_commands_list = ['cd ~/.vim/dein/repos/github.com/notomo/curstr.nvim', 'make tag']
endfunction

autocmd MyAuGroup BufRead,BufEnter ~/workspace/*/ctrlb/* call s:ctrlb_settings()
let s:ctrlb_coverage = ''
function! s:ctrlb_settings() abort
    if empty(s:ctrlb_coverage)
        let root = notomo#vimrc#search_parent_recursive('package.json', expand('%:p:h'))
        let s:ctrlb_coverage = fnamemodify(root, ':p:h:s?$?/coverage/lcov-report?')
    endif
    let g:local#var#document_root = s:ctrlb_coverage
endfunction

autocmd MyAuGroup BufRead,BufEnter ~/workspace/nodejs/sinchock-web/* call s:sinchock_web_settings()
function! s:sinchock_web_settings() abort
    call curstr#custom#source_alias('interface_impl', ['togglable/file'])
    call curstr#custom#source_option('interface_impl', 'pattern_groups', [['%impls/models/%', '%domain/models/%'], ['%impls/repositories/mock/%', '%domain/repositories/%']])
    nnoremap <buffer> [file]i :<C-u>Curstr interface_impl<CR>
endfunction
