hook_add = '''
let g:python_highlight_all = 1

let g:markdown_fenced_languages = [
\  'vim',
\]

let g:ft_ignroe_pat = '\.\(Z\|gz\|bz2\|zip\|tgz\|log\)$'
'''

[ftplugin]

_ = '''
if &filetype !=# 'help'
    setlocal textwidth=0
endif
'''

python = '''
setlocal completeopt-=preview
setlocal nomodeline
let b:cursorword = 0
call notomo#python#semshi_mapping()
call notomo#param#mapping()
'''

qfreplace = '''
setlocal nomodeline
'''

php = '''
setlocal noexpandtab
setlocal matchpairs+==:;
setlocal completeopt-=preview
setlocal dictionary=~/dotfiles/vim/dict/php.dict
if match(fnamemodify(expand('%'), ':t'), '^\k\+Test.php$') != -1
    setlocal dictionary+=~/dotfiles/vim/dict/phpunit.dict
    setlocal dictionary+=~/dotfiles/vim/dict/mockery.dict
else
    setlocal dictionary-=~/dotfiles/vim/dict/phpunit.dict
    setlocal dictionary-=~/dotfiles/vim/dict/mockery.dict
endif

if exists('loaded_matchit')
    call notomo#matchit#sql()
endif

let b:textobj_function_select = function('textobj#function#java#select')

nnoremap <buffer> [keyword]T :<C-u>ALEGoToDefinitionInTab<CR>
'''

smarty = '''
setlocal noexpandtab

if exists('loaded_matchit')
    call notomo#matchit#smarty()
endif
'''

sql = '''
if exists('loaded_matchit')
    call notomo#matchit#sql()
endif
'''

neosnippet = '''
setlocal noexpandtab
'''

vim = '''
setlocal foldmethod=marker
if exists('loaded_matchit')
    call notomo#matchit#vim()
endif
setlocal iskeyword-=#
'''

help = '''
if &l:buftype !=# 'help'
    setlocal list tabstop=8 shiftwidth=8 softtabstop=8 noexpandtab textwidth=78
    if exists('+colorcolumn')
        setlocal colorcolumn=+1
    endif
    if has('conceal')
        setlocal conceallevel=0
    endif
endif
'''

xml = '''
setlocal noexpandtab
'''

blade = '''
let b:caw_wrap_oneline_comment = ['{{--', '--}}']
setlocal expandtab
'''

Jenkinsfile = '''
let b:caw_oneline_comment = '//'
let b:caw_wrap_oneline_comment = ['//']
setlocal noexpandtab
'''

groovy = '''
setlocal noexpandtab
'''

vader = '''
nnoremap <buffer> [exec]t :<C-u>Vader %<CR>
'''
cs = '''
setlocal completeopt-=preview
setlocal expandtab
'''

ruby = '''
setlocal tabstop=2
setlocal softtabstop=2
'''

go = '''
setlocal completeopt-=preview
setlocal noexpandtab
nnoremap <buffer> [keyword]o :<C-u>GoDef<CR>
nnoremap <buffer> [keyword]v :<C-u>vsplit \| GoDef<CR>
nnoremap <buffer> [keyword]h :<C-u>split \| GoDef<CR>
nnoremap <buffer> [keyword]t :<C-u>call notomo#window#duplicate() \| GoDef<CR>
nmap <buffer> [keyword]k <Plug>(go-info)
nmap <buffer> sgj ]]
nmap <buffer> sgk [[
nnoremap <buffer> [exec]bl :<C-u>GoBuild<CR>
nnoremap <buffer> [exec]gr :<C-u>GoReferrers<CR>
nnoremap <buffer> [exec]gi :<C-u>GoImplements<CR>
nnoremap <buffer> [test]g :<C-u>GoCoverageToggle<CR>
nnoremap <buffer> [denite]o :<C-u>Denite decls -auto-preview<CR>
nnoremap <buffer> [denite]gp :<C-u>DeniteCursorWord go/package -no-empty -immediately-1<CR>
call notomo#param#mapping()
'''

gina-commit = '''
setlocal spell
'''

javascript = '''
setlocal completeopt-=preview
setlocal tabstop=2
setlocal softtabstop=2
setlocal expandtab
'''

typescript = '''
setlocal nomodeline
setlocal completeopt-=preview
setlocal tabstop=2
setlocal softtabstop=2
setlocal expandtab
nnoremap <buffer> [keyword]o :<C-u>TSDef<CR>
nnoremap <buffer> [keyword]v :<C-u>vsplit \| TSDef<CR>
nnoremap <buffer> [keyword]h :<C-u>split \| TSDef<CR>
nnoremap <buffer> [keyword]t :<C-u>call notomo#window#duplicate() \| TSDef<CR>
call notomo#param#mapping()
'''

ansible = '''
setlocal tabstop=2
setlocal softtabstop=2
setlocal expandtab
'''

ejs = '''
let b:caw_wrap_oneline_comment = ['<%#', '%>']
setlocal tabstop=2
setlocal softtabstop=2
setlocal expandtab
if exists('loaded_matchit')
    call notomo#matchit#ejs()
endif
'''
