hook_add = '''
let g:python_highlight_all = 1

let g:markdown_fenced_languages = [
\  'vim',
\]

let g:php_folding = 1
let g:PHP_autoformatcomment = 0

let g:ft_ignroe_pat = '\.\(Z\|gz\|bz2\|zip\|tgz\|log\)$'
'''

[ftplugin]

_ = '''
if &l:textwidth != 70 && &filetype !=# 'help'
    setlocal textwidth=0
endif
'''

python = '''
setlocal completeopt-=preview
'''

php = '''
setlocal noexpandtab

if exists('loaded_matchit')
    call tmno3#matchit#sql()
endif
'''

smarty = '''
if exists('loaded_matchit')
    call tmno3#matchit#smarty()
endif
'''

sql = '''
if exists('loaded_matchit')
    call tmno3#matchit#sql()
endif
'''

neosnippet = '''
setlocal noexpandtab
'''

vim = '''
setlocal foldmethod=marker
if exists('loaded_matchit')
    call tmno3#matchit#vim()
endif
'''

help = '''
setlocal iskeyword+=:
setlocal iskeyword+=#
setlocal iskeyword+=-
'''

