hook_add = '''
let g:python_highlight_all = 1

let g:markdown_fenced_languages = [
\  'vim',
\]

let g:ft_ignroe_pat = '\.\(Z\|gz\|bz2\|zip\|tgz\|log\)$'
'''

[ftplugin]

_ = '''
if &filetype !=# 'help'
    setlocal textwidth=0
endif
'''

python = '''
setlocal completeopt-=preview
'''

php = '''
setlocal noexpandtab
setlocal matchpairs+==:;

if exists('loaded_matchit')
    call tmno3#matchit#sql()
endif

let b:textobj_function_select = function('textobj#function#java#select')
'''

smarty = '''
setlocal noexpandtab

if exists('loaded_matchit')
    call tmno3#matchit#smarty()
endif
'''

sql = '''
if exists('loaded_matchit')
    call tmno3#matchit#sql()
endif
'''

neosnippet = '''
setlocal noexpandtab
'''

vim = '''
setlocal foldmethod=marker
if exists('loaded_matchit')
    call tmno3#matchit#vim()
endif
'''

help = '''
setlocal iskeyword+=:
setlocal iskeyword+=#
setlocal iskeyword+=-
'''

xml = '''
setlocal noexpandtab
'''

blade = '''
let b:caw_wrap_oneline_comment = ['{-- ', ' --}']
'''
