
[[plugins]]
repo = 'Shougo/deoplete.nvim'
on_event = 'InsertCharPre'
hook_add = '''
let g:deoplete#enable_at_startup = 1
'''
hook_source = 'source ~/.vim/rc/plugins/deoplete.vim'

[[plugins]]
repo = 'zchee/deoplete-jedi'
on_ft = 'python'
hook_source = '''
let g:deoplete#sources#jedi#python_path = '/usr/bin/python3.5'
'''

[[plugins]]
repo = 'zchee/deoplete-go'
on_ft = 'go'
build = 'make'
hook_source = '''
let g:deoplete#sources#go#gocode_binary = $GOPATH . '/bin/gocode'
'''

[[plugins]]
repo = 'fszymanski/deoplete-emoji'
on_ft = 'markdown'
hook_add = '''
'''

[[plugins]]
repo = 'Shougo/deol.nvim'
on_cmd = 'Deol'

[[plugins]]
repo = 'ujihisa/neco-look'
if = "executable('look')"

# [[plugins]]
# repo = 'autozimu/LanguageClient-neovim'
# on_ft = 'php'
# depends = 'denite.nvim'
# hook_add = '''
# nnoremap [lc] <Nop>
# nmap <Leader>f [lc]
# nnoremap <silent> [lc]d :<C-u>call LanguageClient_textDocument_definition()<CR>
# nnoremap <silent> [lc]r :<C-u>call LanguageClient_textDocument_rename()<CR>
# nnoremap <silent> [lc]k :<C-u>call LanguageClient_textDocument_hover()<CR>
# nnoremap <silent> [denite]ld :<C-u>Denite documentSymbol<CR>
# nnoremap <silent> [denite]lw :<C-u>Denite workspaceSymbol<CR>
# nnoremap <silent> [denite]lr :<C-u>Denite references<CR>
# let g:LanguageClient_autoStart = 0
# '''
#
# [[plugins]]
# repo = 'roxma/LanguageServer-php-neovim'
# depends = 'LanguageClient-neovim'
# on_ft = 'php'
# build = 'composer install && composer run-script parse-stubs'

