
[core]
    excludesfile = ~/.gitignore_global
    editor = nvr --remote-wait-silent

[user]
    name = 
    email = 

[url "git@github.com:"]
    pushInsteadOf = git://github.com/
    pushInsteadOf = https://github.com/
