
[core]
    excludesfile = ~/.gitignore_global
    editor = nvr --remote-wait-silent
    quotepath = false

[user]
    name = 
    email = 

[url "git@github.com:"]
    pushInsteadOf = git://github.com/
    pushInsteadOf = https://github.com/

[alias]
    pushfff = push --force-with-lease
    rc = rebase --continue
    rs = rebase --skip
