
- name: install with homebrew
  homebrew:
    name:
      - lynx
      - tree
      - wget
      - nkf
      - jq
      - actionlint
      - tmpreaper
      - supervisor
      - cscope
      - ripgrep
      - gron

# - name: install with apt
#   apt:
#     name:
#       - wamerican # words dict
#   when: is_ubuntu
#   become: yes
