
- name: install with homebrew
  homebrew:
    name:
      - lynx
      - tree
      - wget
      - nkf
  when: is_macos

- name: install dependencies with yum
  yum:
    name:
      - lynx
      - tree
      - wget
      - nkf
      - words
      - telnet
      - xdg-utils
      - xclip
      - psmisc
      - sysstat
      - vnstat
      - lsof
      - patch
    enablerepo: epel
  when: is_centos
  become: yes
