
- name: install with homebrew
  homebrew:
    name:
      - lynx
      - tree
      - wget
      - nkf
      - jq
      - actionlint
      - tmpreaper
      - supervisor
      - cscope
      - ripgrep
      - gron
      - fd
      - httpie
