
- name: install with homebrew
  homebrew:
    name:
      - lynx
      - tree
      - wget
      - nkf
      - tmpreaper
      - lsof
      - procs
      - zip
      - rsync
      - lsyncd

- name: create .procs.toml link
  file:
    src: "{{ role_path }}/files/.procs.toml"
    dest: "{{ home_dir }}/.procs.toml"
    state: link
  when: is_ubuntu or is_macos
