
# vagrant
/vagrant/*/.vagrant
/vagrant/*/vagrant_up.log*
/vagrant/*/vagrant_key
/vagrant/docker_host_test/Vagrantfile
/vagrant/docker_host_test/provision

# setup
/setup/*/*.log

# vim

# local
/vim/local/*
/vim/autoload/local/*
/vim/rc/local/*
!/vim/rc/local/after
!/vim/rc/local/*.sample
/vim/rc/local/after/*

# snippet
/vim/snippets/mydiary.snip
/vim/snippets/php/*
/vim/snippets/sql/*

# tool
/vim/tool/minimal_test.vim

# ansible
/ansible/**/*.retry
/ansible/.vagrant
/ansible/vagrant_*.log*

!.gitkeep

__pycache__
