# setup
/setup/*/*.log

# vim

# local
/vim/local/*
!/vim/local/test.vim
/vim/autoload/local/*
/vim/rc/local/*
!/vim/rc/local/after
!/vim/rc/local/*.sample
/vim/rc/local/after/*

# snippet
/vim/snippets/mydiary.snip
/vim/snippets/php/*
/vim/snippets/sql/*

# ansible
/ansible/**/*.retry
/ansible/.vagrant
/ansible/vagrant_*.log*

!.gitkeep

__pycache__
