<?xml version="1.0" encoding="utf-8"?>
<packages>
    <package id="mpc-be" />
    <package id="inkscape" />
    <package id="blender" />
    <package id="nexusfont" />
    <package id="dropbox" />
    <package id="audacity" />
    <package id="gimp" />
    <package id="everything" />
    <package id="f.lux" />
    <package id="volume2" />
    <package id="libreoffice" />
</packages>
