<?xml version="1.0" encoding="utf-8"?>
<packages>
    <package id="googlechrome" />
    <package id="firefox" />
    <package id="7zip" />
    <package id="python3" version="3.5.2"/>
    <package id="golang" />
    <package id="neovim" />
    <package id="cmake" />
    <package id="make" />
    <package id="pdfxchangeeditor" />
    <package id="visualstudiocode" />
    <package id="keepass" />
    <package id="plantuml" />
    <package id="pt" />
    <package id="git" />
    <package id="nodejs" />
    <package id="msys2" />
    <package id="mingw"/>
</packages>
