<?xml version="1.0" encoding="utf-8"?>
<packages>
    <package id="googlechrome" />
    <package id="firefox" />
    <!-- <package id="curl" /> -->
    <package id="conemu" />
    <package id="7zip" />
    <package id="python3" version="3.5.2"/>
    <package id="python2"/>
    <package id="golang" />
    <package id="neovim" />
    <package id="cmake" />
    <package id="make" />
    <package id="pdfxchangeeditor" />
    <package id="php" />
    <package id="visualstudiocode" />
    <package id="keepass" />
    <package id="plantuml" />
    <package id="pt" />
    <package id="ripgrep" />
    <package id="git" />
    <package id="nodejs" />
    <!-- <package id="launchy" /> -->
    <package id="msys2" />
    <package id="ruby" version="2.4.2.2"/>
</packages>
