version: 2
# log-level: 1

tools:
  vim-vint: &vim-vint
    lint-command: 'vint -f "{file_path}:{line_number}:{column_number}: {severity}: {description} (see {reference})" -'
    lint-stdin: true
    lint-formats:
      - '%f:%l:%c: %trror: %m'
      - '%f:%l:%c: %tarning: %m'

  python-flake8: &python-flake8
    lint-command: 'flake8 --stdin-display-name ${INPUT} -'
    lint-stdin: true
    lint-formats:
      - '%f:%l:%c: %m'

  python-mypy: &python-mypy
    lint-command: 'mypy --show-column-numbers --ignore-missing-imports'
    lint-formats:
      - '%f:%l:%c: %trror: %m'
      - '%f:%l:%c: %tarning: %m'
      - '%f:%l:%c: %tote: %m'

  golint: &golint
    lint-command: 'golint'
    lint-ignore-exit-code: true
    lint-formats:
      - '%f:%l:%c:%m'

  shellcheck: &shellcheck
    lint-command: 'shellcheck -f gcc -x'
    lint-formats:
      - '%f:%l:%c: %trror: %m'
      - '%f:%l:%c: %tarning: %m'
      - '%f:%l:%c: %tote: %m'

  luacheck: &luacheck
    lint-command: 'luacheck -d --std _G+busted --globals vim --no-max-code-line-length --formatter plain --codes -'
    lint-stdin: true
    lint-formats:
      - '%f:%l:%c: (%t%m'

  eslint: &eslint
    lint-command: 'eslint -f unix --stdin'
    lint-ignore-exit-code: true
    lint-stdin: true

languages:
  vim:
    - <<: *vim-vint

  python:
    - <<: *python-flake8
    - <<: *python-mypy

  go:
    - <<: *golint

  sh:
    - <<: *shellcheck

  lua:
    - <<: *luacheck

  typescript.tsx:
    - <<: *eslint

  typescript:
    - <<: *eslint

lint-debounce: 300ms
