
- homebrew: name=ruby
  when: is_macos

- name: install dependencies with yum
  yum:
    name:
      - gcc
      - bzip2
      - openssl-devel
      - libyaml-devel
      - libffi-devel
      - readline-devel
      - zlib-devel
      - gdbm-devel
      - ncurses-devel
    state: present
    update_cache: true
  when: is_centos
  become: yes

- name: git clone rbenv
  git:
    repo: https://github.com/sstephenson/rbenv.git
    dest: "{{ home_dir }}/.rbenv"
    version: master
  when: is_centos

- name: git clone rbenv
  git:
    repo: https://github.com/sstephenson/ruby-build.git
    dest: "{{ home_dir }}/.rbenv/plugins/ruby-build"
    version: master
  when: is_centos

- name: add .bashrc content
  blockinfile:
    marker: "# {mark} ANSIBLE MANAGED BLOCK ruby on centos"
    dest: "{{ home_dir }}/.bashrc"
    content: |
      export RBENV_ROOT="${HOME}/.rbenv"
      if [ -d "${RBENV_ROOT}" ]; then
          export PATH="${RBENV_ROOT}/bin:${PATH}"
          eval "$(rbenv init -)"
      fi
  when: is_centos

- name: load rbenv
  shell: source ~/.bashrc
  when: is_centos
  changed_when: False

- name: check ruby versions
  shell: bash -lc "rbenv versions | grep 2.4.2"
  when: is_centos
  register: ruby_installed_versions
  changed_when: False
  ignore_errors: yes

- name: install ruby
  shell: bash -lc "rbenv install 2.4.2"
  when: is_centos and ruby_installed_versions is failed

- name: set global ruby version
  shell: bash -lc "rbenv global 2.4.2"
  when: is_centos and ruby_installed_versions is failed

- name: set variables
  set_fact:
    gem_packages:
      - neovim
      - travis

- gem:
    name: "{{ item }}"
    executable: "{{ home_dir}}/.rbenv/shims/gem"
    user_install: False
  with_items: "{{ gem_packages }}"
  when: is_centos

- gem:
    name: "{{ item }}"
  with_items: "{{ gem_packages }}"
  when: is_macos
