- name: check nvim
  stat:
    path: "{{ home_dir }}/.local/bin/nvim"
  register: nvim_installed

- name: check nvim on mac
  stat:
    path: "{{ app_dir }}/nvim.tar.gz"
  register: nvim_downloaded
  when: (is_macos or is_ubuntu) and not nvim_installed.stat.exists

- name: make nvim directory
  file:
    path: "{{ app_dir }}/nvim"
    state: directory
  when: (is_macos or is_ubuntu) and not nvim_installed.stat.exists

- name: download nvim on ubuntu
  get_url:
    url: https://github.com/neovim/neovim/releases/download/nightly/nvim-linux64.tar.gz
    dest: "{{ app_dir }}/nvim.tar.gz"
  when: is_ubuntu and not nvim_installed.stat.exists

- name: download nvim on mac
  action: command wget https://github.com/neovim/neovim/releases/download/nightly/nvim-macos.tar.gz -O {{ app_dir }}/nvim.tar.gz
  when: is_macos and not nvim_installed.stat.exists and not nvim_installed.stat.exists

- name: unarchive nvim
  unarchive:
    src: "{{ app_dir }}/nvim.tar.gz"
    dest: "{{ app_dir }}/nvim"
  when: (is_macos or is_ubuntu) and not nvim_installed.stat.exists and not nvim_installed.stat.exists

- name: create nvim symbolic link
  file:
    src: "{{ app_dir }}/nvim/nvim-osx64/bin/nvim"
    dest: "{{ home_dir }}/.local/bin/nvim"
    state: link
  when: is_macos and not nvim_installed.stat.exists and not nvim_installed.stat.exists

- name: create nvim symbolic link
  file:
    src: "{{ app_dir }}/nvim/nvim-linux64/bin/nvim"
    dest: "{{ home_dir }}/.local/bin/nvim"
    state: link
  when: is_ubuntu and not nvim_installed.stat.exists and not nvim_installed.stat.exists

- name: apt get for development
  apt:
    name:
      - libcurl4
      - ninja-build
      - gettext
      - libtool
      - libtool-bin
      - autoconf
      - automake
      - cmake
      - g++
      - pkg-config
      - unzip
      - lua-check
      - clang-tools-8
  when: is_ubuntu
  become: yes

# TODO
# sudo add-apt-repository ppa:ubuntu-toolchain-r/test
# sudo apt update
# sudo apt install -y g++-8
# CXX=g++-8 CC=gcc-8 sudo luarocks install --server=https://luarocks.org/dev luaformatter
# sudo luarocks install Formatter

- name: update-alternatives
  alternatives:
    name: clangd
    link: /usr/bin/clangd
    path: /usr/bin/clangd-8
    priority: 100
  when: is_ubuntu
  become: yes
