
- name: check rust
  stat:
    path: "{{ home_dir }}/.cargo/bin/rustup"
  register: rust_installed

- name: install by rustup
  shell: curl https://sh.rustup.rs -sSf | sh -s -- -y
  when: not rust_installed.stat.exists

- name: rustup toolchain
  shell: rustup default nightly-2020-02-06
  when: not rust_installed.stat.exists

- name: install ls
  shell: rustup component add rust-analyzer rust-src
  when: not rls_installed.stat.exists

- name: install rustfmt
  shell: rustup component add rustfmt
