set smartcase
set ignorecase
set hlsearch

inoremap jj <ESC>
nnoremap : ;
nnoremap ; :

nnoremap r :action VimRedo<CR>

" move
nnoremap ga ^
nnoremap ge $
nnoremap J }
nnoremap K {

inoremap <C-k> <Up>
inoremap <C-j> <Down>
inoremap <C-l> <Right>
inoremap <C-h> <Left>

" operate
noremap Y y$
nnoremap x "_x
vnoremap x "_x

" input
inoremap j<Space>w ""<Left>
inoremap j<Space>q ''<Left>
inoremap j<Space>p ()<Left>
inoremap j<Space>l []<Left>
inoremap j<Space>t <><Left>
inoremap j<Space>d {}<Left>
inoremap j<Space>b ``<Left>
inoremap j<Space>g \
inoremap j<Space>r <Bar>
inoremap j<Space>s _
inoremap j<Space>a -
inoremap j<Space>e =

inoremap jka &
inoremap jkh ^
inoremap jkp +
inoremap jks #
inoremap jkr %
inoremap jkm @
inoremap jkt ~
inoremap jkd $
inoremap jke !
inoremap jkb `
inoremap jkc :
inoremap jkx *
inoremap jkq ?
inoremap jk; "
inoremap jk, '
inoremap jkg =>
inoremap jkf ->


" window
nnoremap <Space>wo :action UnsplitAll<CR>
nnoremap <Space>wh :action SplitHorizontally<CR>
nnoremap <Space>wv :action SplitVertically<CR>
nnoremap <Space>wq :action VimWindowClose<CR>

" window move
nnoremap mj :action VimWindowDown<CR>
nnoremap mk :action VimWindowUp<CR>
nnoremap ma :action VimWindowLeft<CR>
nnoremap ml :action VimWindowRight<CR>

" number
nnoremap <Space>aj :action VimChangeNumberDec<CR>
nnoremap <Space>ak :action VimChangeNumberInc<CR>

" tab
nnoremap ta :action PreviousTab<CR>
nnoremap tl :action NextTab<CR>
nnoremap tt :action NewScratchBuffer<CR>
nnoremap tq :action CloseEditor<CR>
nnoremap to :action CloseAllEditorsButActive<CR>

" visual
nnoremap <Space>l V
nnoremap <Space>h <C-v>
vnoremap <Space>l V
vnoremap <Space>h <C-v>
vnoremap v <ESC>

" ide window
nnoremap <Space>ev :action ShowSettings<CR>
nnoremap <Space>ic :action InspectCode<CR>
nnoremap <Space>ur :action RecentFiles<CR>
nnoremap <Space>T :action ActivateTODOToolWindow<CR>
nnoremap <Space>t :action ActivateTerminalToolWindow<CR>
nnoremap <Space>xf :action ActivateProjectToolWindow<CR>
nnoremap <Space>xh :action HideAllWindows<CR>
nnoremap <Space>I :action ImportSettings<CR>
nnoremap <Space>E :action ExportSettings<CR>
nnoremap ,r :action QuickJavaDoc<CR>

" execute
nnoremap <Space>xn :noh<CR>
nnoremap <Space>xs :source ~/.ideavimrc<CR>

" git
nnoremap ,gP :action Git.Pull<CR>
nnoremap ,ga :action Git.Add<CR>
nnoremap ,gs :action Vcs.Show.Local.Changes<CR>
nnoremap ,gl :action Vcs.Show.Log<CR>

" comment
nnoremap <Space>c :action CommentByLineComment<CR>

" <C-o>,<C-i>
nnoremap go :action Back<CR>
nnoremap gi :action Forward<CR>

" move
nnoremap <Space>kk :action FindUsages<CR>
nnoremap <Space>ko :action FindUsagesInFile<CR>
nnoremap <Space>kr :action GotoDeclaration<CR>
nnoremap gu :action GotoSuperMethod<CR>
nnoremap gj :action MethodDown<CR>
nnoremap gk :action MethodUp<CR>
nnoremap ,gj :action GotoNextError<CR>
nnoremap ,gk :action GotoPreviousError<CR>

" debug
nnoremap <Space>da :action ToggleLineBreakpoint<CR>
nnoremap <Space>dd :action Debug<CR>
nnoremap <Space>ds :action StepOver<CR>
nnoremap <Space>di :action StepInto<CR>
nnoremap <Space>do :action StepOut<CR>
nnoremap <Space>db :action ViewBreakpoints<CR>
nnoremap <Space>dq :action Stop<CR>
nnoremap <Space>dc :action RunToCursor<CR>
nnoremap <Space>dm :action XDebugger.MuteBreakpoints<CR>

" ?
" nnoremap <Space>kp :action WelcomeScreen.Documentation<CR>
" nnoremap <Space>p :action PasteMultiple<CR>
" nnoremap <Space>ed :action PhpGeneratePhpDocBlocks<CR>

" macro
nnoremap ,qq :action StartStopMacroRecording<CR>
nnoremap ,qg :action Macros<CR>

" find
nnoremap <Space>ff :action GotoFile<CR>
nnoremap <Space>fj :action FindWordAtCaret<CR>
nnoremap <Space>fa :action GotoAction<CR>
