
- homebrew: name=golang

- name: go install
  shell: go install {{ item }}@latest
  with_items:
    - golang.org/x/tools/cmd/goimports
    - golang.org/x/tools/gopls
    - github.com/fatih/motion
    - github.com/go-delve/delve/cmd/dlv
  environment:
    GOBIN: "{{ home_dir }}/go/bin"
