
- homebrew: name=golang
  when: is_macos

- name: check golang
  stat:
    path: "{{ home_dir }}/.local/go"
  register: golang_installed
  when: is_centos

- name: download golang
  get_url:
    url: https://storage.googleapis.com/golang/go1.11.1.linux-amd64.tar.gz
    dest: "{{ app_dir }}/go1.11.1.linux-amd64.tar.gz"
  when: is_centos and not golang_installed.stat.exists

- name: mkdir go
  file:
    path: "{{ home_dir }}/.local/go"
    state: directory
  when: is_centos and not golang_installed.stat.exists

- name: unarchive golang
  unarchive:
    src: "{{ app_dir }}/go1.11.1.linux-amd64.tar.gz"
    dest: "{{ home_dir }}/.local/go"
    extra_opts: [--strip-components=1]
  when: is_centos and not golang_installed.stat.exists

- name: check go modules
  command: "~/.local/go/bin/go list {{ item }}"
  register: go_module_exists
  changed_when: False
  failed_when: go_module_exists.rc not in [0, 1]
  with_items:
    - github.com/nsf/gocode
    - golang.org/x/tools/cmd/goimports
    - golang.org/x/lint/golint
    - github.com/go-task/task/cmd/task
    - golang.org/x/tools/cmd/gotype
    - honnef.co/go/tools/cmd/gosimple
    - honnef.co/go/tools/cmd/staticcheck
    - github.com/alecthomas/gometalinter
    - honnef.co/go/tools/cmd/unused
    - github.com/mattn/mkup
    - github.com/github/hub
    - github.com/pocke/lemonade
    - github.com/jackc/sqlfmt/...
    - github.com/notomo/wsxhub/...
    - github.com/kisielk/godepgraph
  environment:
    GOPATH: "{{ home_dir }}/go"

- name: go get
  command: "~/.local/go/bin/go get {{ item.item }}"
  when: item.stderr or item.rc == 1
  with_items: "{{ go_module_exists.results }}"
  environment:
    GOPATH: "{{ home_dir }}/go"

- name: add go path
  blockinfile:
    marker: "# {mark} ANSIBLE MANAGED BLOCK golang role"
    dest: "{{ home_dir }}/.bash_profile"
    content: |
      export GOPATH=$HOME/go
      export PATH=$PATH:$GOPATH/bin:$HOME/.local/go/bin

- name: copy lemonade.toml
  copy:
    src: lemonade.toml
    dest: "{{ home_dir }}/.config/lemonade.toml"
  when: is_centos

- name: check xdg-open stat
  stat:
    path: /usr/bin/xdg-open
  register: open_stat
  when: is_centos

- name: copy xdg-open
  copy:
    remote_src: True
    src: /usr/bin/xdg-open
    dest: /usr/bin/xdg-open.tmp
  when: is_centos and open_stat.stat.islnk is defined and not open_stat.stat.islnk
  become: yes

- name: remove xdg-open
  file:
    path: /usr/bin/xdg-open
    state: absent
  when: is_centos and open_stat.stat.islnk is defined and not open_stat.stat.islnk
  become: yes
  ignore_errors: yes

- name: create symbolic link for lemonade
  file:
    src: "{{ home_dir }}/go/bin/lemonade"
    dest: "/usr/bin/xdg-open"
    state: link
  when: is_centos
  become: yes
