{
  "env": {
    "browser": true,
    "commonjs": true,
    "es2022": true,
    "node": true
  },
  "extends": "eslint:recommended",
  "rules": {},
  "globals": {
    "db": true,
    "ObjectId": true
  }
}
