
- name: set variables
  set_fact:
    link_dict:
      vim/lua: .vim/lua
      vim/snippets: .vim/snippets
      vim/after: .vim/after
      vim/syntax: .vim/syntax
      vim/ftdetect: .vim/ftdetect
      vim/lua/notomo/init.lua: .config/nvim/init.lua

- name: mkdir
  file:
    path: "{{ home_dir }}/{{ item }}"
    state: directory
  with_items:
    - .vim/tmp/backup
    - .vim/tmp/undo
    - .vim/tmp/view
    - .vim/tmp/swap
    - .config

- name: mkdir for karabiner
  file:
    path: "{{ home_dir }}/.config/karabiner"
    state: directory
  when: is_macos

- name: copy karabiner.json
  copy:
    src: karabiner.json
    dest: "{{ home_dir }}/.config/karabiner/karabiner.json"
  when: is_macos

- name: check if dotfiles exists
  stat: path={{ dotfiles_dir }}
  register: dotfiles_exists

- name: git clone
  git:
    repo: https://github.com/notomo/dotfiles.git
    dest: "{{ dotfiles_dir }}"
    version: master
  when: not dotfiles_exists.stat.exists

- name: create symbolic link for neovim
  file:
    src: "{{ home_dir }}/.vim"
    dest: "{{ home_dir }}/.config/nvim"
    state: link

- name: create symbolic link
  file:
    src: "{{ dotfiles_dir }}/{{ item.key }}"
    dest: "{{ home_dir }}/{{ item.value }}"
    state: link
  with_dict: "{{ link_dict }}"
