
- name: set variables
  set_fact:
    phpmanual_dir: "{{ home_dir }}/.vim/reference/phpmanual"

- name: install with homebrew
  homebrew: name={{ item }}
  with_items:
    - php
    - composer
  when: is_macos

- name: copy composer.json
  copy:
    src: composer.json
    dest: "{{ home_dir }}/.composer/composer.json"

- name: comoser install
  composer:
    command: install
    global_command: yes
    working_dir: "{{ home_dir }}/.composer"

- name: mkdir for phpmanual
  file:
    path: "{{ phpmanual_dir }}"
    state: directory

- name: find phpmanual
  find:
    paths:  "{{ phpmanual_dir }}"
    patterns: ".html"
    file_type: file
  register: phpmanual_files

- name: unarchive phpmanual
  unarchive:
    src: http://jp2.php.net/get/php_manual_ja.tar.gz/from/this/mirror
    dest: "{{ phpmanual_dir }}"
    remote_src: yes
    extra_opts: [--strip-components=1]
  when: not phpmanual_files.matched
