- hosts: 'local'
  roles:
    - {role: 'bash', tags: ['bash']}
    - {role: 'zsh', tags: ['zsh']}
    - {role: 'dotfiles', tags: ['dotfiles']}
    - {role: 'docker', tags: ['docker']}
    - {role: 'neovim_dev', tags: ['neovim_dev']}
  vars_files:
    - '{{ inventory_dir | dirname }}/vars/{{ ansible_os_family }}.yml'
  vars:
    ansible_python_interpreter: "/home/linuxbrew/.linuxbrew/bin/python3"
