- hosts: 'local'
  roles:
    - { role: 'workspace', tags: 'workspace' }
    - { role: 'bash', tags: 'bash' }
    # - { role: 'zsh', tags: 'zsh' }
    - { role: 'dotfiles', tags: 'dotfiles' }
    - { role: 'tools', tags: 'tools' }
    - { role: 'ctags', tags: 'ctags' }
    - { role: 'pt', tags: 'pt' }
    - { role: 'timezone', tags: 'timezone' }
    - { role: 'gitconfig', tags: 'gitconfig' }
  vars_files:
    - '{{ inventory_dir | dirname }}/vars/{{ ansible_os_family }}.yml'
