
- homebrew: name={{ item }}
  with_items:
    - python2
    - python3
  when: is_macos

- pip:
    name: "{{ item }}"
    executable: pip2
  with_items:
    - neovim

- pip:
    name: "{{ item }}"
    executable: pip3
  with_items:
    - neovim
    - flake8
    - requests
    - mypy
    - autopep8
    - isort
    - yapf
    - lxml
    - python-language-server
    - websocket-client
    - websocket-server
    - vim-vint
