
- homebrew:
    name:
      - python2
      - python3
  when: is_macos

- name: install yum repository for python3
  yum: name=https://centos7.iuscommunity.org/ius-release.rpm
  when: is_centos
  become: yes

- name: install python3 with yum
  yum:
    name:
      - python36u
      - python36u-libs
      - python36u-devel
      - python36u-pip
  when: is_centos
  become: yes

- name: install common with apt
  apt:
    name: software-properties-common
  when: is_ubuntu
  become: yes

- name: add apt repository
  apt_repository:
    repo: ppa:deadsnakes/ppa
  when: is_ubuntu
  become: yes

# - python3-pip TODO: wget https://bootstrap.pypa.io/get-pip.py, python3 get-pip.py
- name: install python3 with apt
  apt:
    name:
      - python3.7
      - python3.7-dev
      - python3-pip
      - python3-dev
      - python3-venv
  when: is_ubuntu
  become: yes

- name: create symbolic link for python3
  file:
    src: "/usr/bin/python3.6"
    dest: "/usr/bin/python3"
    state: link
  when: is_centos
  become: yes

# - name: create symbolic link for python3
#   file:
#     src: "/usr/bin/python3.7"
#     dest: "/usr/bin/python3"
#     state: link
#   when: is_ubuntu
#   become: yes

- name: install python2 with yum
  yum:
    name:
      - python-devel
      - python-pip
    enablerepo: epel
  when: is_centos
  become: yes

- name: set variables
  set_fact:
    python2_packages:
      - pynvim
      - ansible-lint
    python3_packages:
      - pynvim
      - flake8
      - requests
      - mypy
      - autopep8
      - isort
      - black
      - python-language-server
      - vim-vint
      - neovim-remote
      - httpie
      - pprint

- pip:
    name: "{{ python2_packages }}"
    executable: pip2
  when: is_macos

- pip:
    name: "{{ python2_packages }}"
    executable: pip2
  when: is_centos
  become: yes

- pip:
    name: "{{ python3_packages }}"
    executable: pip3
  when: is_macos

- pip:
    name: "{{ python3_packages }}"
    executable: pip3.6
  when: is_centos
  become: yes

- pip:
    name: "{{ python3_packages }}"
    executable: pip3
  when: is_ubuntu
  become: yes
