
- homebrew:
    name:
      - python2
      - python3
  when: is_macos

- name: install yum repository for python3
  yum: name=https://centos7.iuscommunity.org/ius-release.rpm
  when: is_centos
  become: yes

- name: install python3 with yum
  yum:
    name:
      - python36u
      - python36u-libs
      - python36u-devel
      - python36u-pip
  when: is_centos
  become: yes

- name: create symbolic link for python3
  file:
    src: "/usr/bin/python3.6"
    dest: "/usr/bin/python3"
    state: link
  when: is_centos
  become: yes

- name: install python2 with yum
  yum:
    name:
      - python-devel
      - python-pip
    enablerepo: epel
  when: is_centos
  become: yes

- name: set variables
  set_fact:
    python2_packages:
      - pynvim
      - ansible-lint
    python3_packages:
      - pynvim
      - flake8
      - requests
      - mypy
      - autopep8
      - isort
      - yapf
      - lxml
      - python-language-server
      - websocket-client
      - websocket-server
      - vim-vint
      - neovim-remote

- pip:
    name: "{{ python2_packages }}"
    executable: pip2
  when: is_macos

- pip:
    name: "{{ python2_packages }}"
    executable: pip2
  when: is_centos
  become: yes

- pip:
    name: "{{ python3_packages }}"
    executable: pip3
  when: is_macos

- pip:
    name: "{{ python3_packages }}"
    executable: pip3.6
  when: is_centos
  become: yes
