
- name: install node with homebrew
  homebrew: name=node

- name: set variables
  set_fact:
    node_packages:
      - fixjson
      - typescript-language-server
      - vscode-langservers-extracted
      - prettier
      - yaml-language-server

- name: install node.js package globally
  npm:
    name: "{{ item }}"
    global: yes
  with_items: "{{ node_packages }}"
