
[core]
    editor = nvim
    quotepath = false

[user]
    name = 
    email = 

[url "git@github.com:"]
    pushInsteadOf = git://github.com/
    pushInsteadOf = https://github.com/

[alias]
    pushfff = push --force-with-lease --force-if-includes
    rc = rebase --continue
    rs = rebase --skip
    forked = "!f() { git remote add notomorepo https://github.com/notomo/$1.git; }; f"

[init]
    defaultBranch = main

[merge]
    conflictStyle = zdiff3

[fetch]
    prune = true
