- name: apt get for development
  apt:
    name:
      - libcurl4
      - ninja-build
      - gettext
      - libtool
      - libtool-bin
      - autoconf
      - automake
      - cmake
      - g++
      - pkg-config
      - unzip
      - lua-check
      - clang-tools-8
  when: is_ubuntu
  become: yes

# TODO
# sudo add-apt-repository ppa:ubuntu-toolchain-r/test
# sudo apt update
# sudo apt install -y g++-8
# CXX=g++-8 CC=gcc-8 sudo luarocks install --server=https://luarocks.org/dev luaformatter
# sudo luarocks install Formatter

- name: update-alternatives
  alternatives:
    name: clangd
    link: /usr/bin/clangd
    path: /usr/bin/clangd-8
    priority: 100
  when: is_ubuntu
  become: yes
