- name: apt get for development
  apt:
    name:
      - ninja-build
      - gettext
      - libtool
      - autoconf
      - automake
      - cmake
      - g++
      - pkg-config
      - unzip
      - curl
  when: is_ubuntu
  become: yes

- name: set variables
  set_fact:
    neovim_source_dir: "{{ home_dir }}/workspace/neovim"

- name: check if neovim source exists
  stat: path={{ neovim_source_dir }}
  register: neovim_source

- name: git clone
  git:
    repo: https://github.com/neovim/neovim.git
    dest: "{{ neovim_source_dir }}"
    version: master
  when: not neovim_source.stat.exists

- name: apt get for debug
  apt:
    name:
      - systemd-coredump
  when: is_ubuntu
  become: yes

- name: install with homebrew
  homebrew:
    name:
      - llvm
      - gdb
      - uncrustify
